{% extends 'base.html.twig' %}

{% block title %}RESET PASSWORD
{% endblock %}

{% block body %}
    <h1>RESET PASSWORD</h1>

    {{ form_start(form) }}
    {{ form_row(form.plainPassword) }}

    <button class="btn">CHANGE PASSWORD</button>
    {{ form_end(form) }}
{% endblock %}
